<div class="form-group row">
    <div class="col-md-10">
        <div class="input-group">
            <h1>Edit User List </h1>

        </div>
    </div>

</div>
<hr style="margin-left: -30px;margin-right: -30px;">

<div class="row">
    <div class="col-md-12">


        <!-- <form class="form-horizontal" [formGroup]="userEdit"> -->

            <div class="form-group row" style="margin-top:20px;">
                <label class="col-md-2 col-form-label" for="text-input">
                    <!-- <span style="color: red">*</span> -->
                </label>
                <label class="col-md-2 col-form-label" for="text-input">Name
                    <!-- <span style="color: red">*</span> -->
                </label>
                <div class="col-md-4">
                    <input class="form-control" class="form-control" maxlength="30" required autocomplete="off">
                </div>
            </div>

        <div class="form-group row" style="margin-top:20px;">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Role
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">Select Role</option>
                    <option value="1">CA</option>
                    <option value="2">CA-STAFF</option>
                    <option value="3">OFFICER</option>
                    <option value="4">FINANCE</option>

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Category 
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">Select Category</option>
                    <option value="1">Maker</option>
                    <option value="2">Authoriser</option>
                    <option value="2">Maker & Authoriser</option>
                    <option value="2">View</option>
                    

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Location
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">Select Location</option>
                    <option value="1">Southern</option>
                    <option value="2">Chennai</option>
                    <option value="2">Madurai</option>
                    <option value="2">Trichy</option>

                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Project
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">Select Project</option>
                    <option value="1">Paradip-Haldia</option>
                    <option value="2">Chennai-Thiruvallur</option>
                    

                </select>
            </div>
        </div>
       
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Email Id
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <input class="form-control" class="form-control" maxlength="30" required autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Phone Number
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <input class="form-control" class="form-control" maxlength="30" required autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Status
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">
            </label>
            <label class="col-md-2 col-form-label" for="text-input">Last updated on
            </label>
            <div class="col-md-4">
                <input class="form-control" class="form-control" maxlength="30" required autocomplete="off">
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>

            <div class="col-md-2">
                <button type="submit" class="blue-button">
                    Update
                </button> </div>
                <div class="col-md-2">
                    <button type="submit" class="cancel-button">
                        Cancel
                    </button> </div>
        </div>
        <!-- <div>
            <button type="submit" style="margin-left:45%; background:#000000;margin-top:20px; "
                class="btn btn-success btn-rounded">
                Update User
            </button>
        </div> -->



        <!-- </form> -->
    </div>
</div>