<div class="form-group row">
    <div class="col-md-3">
        <div class="input-group">
            <h1>Taluk List</h1>

        </div>
    </div>
    <div class="input-group col-md-3 mt-40">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-append">
            <button type="button" style="background: #363b4a;height:35px;"
                class="btn btn-block btn-ghost-danger active">Search</button>
        </span>
    </div>
    <div class="input-group col-md-2 mt-40">
        <label class="col-md-2 col-form-label" for="text-input">
            <!-- <span style="color: red">*</span> -->
        </label>


    </div>
    <div class="col-md-2 mt-40">
        <button type="submit" class="blue-button" routerLink="/taluk-upload">Upload Taluk</button>
    </div>

    <div class="col-md-2 mt-40">
        <button type="submit" class="blue-button" routerLink="/taluk-add">Add Taluk</button>
    </div>






</div>




<hr>
<div class="table table-responsive">
    <table id="example" class="display table" style="width: 100%;">
        <thead>
            <tr style="background-color: transparent;">
                <th>
                    State
                </th>
                <th>
                    District

                </th>
                <th>
                    Taluk

                </th>

                <th>
                    Action

                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of landdetails" routerLink="/taluk-edit">

                <td style="vertical-align:inherit">{{a.State}}</td>
                <td style="vertical-align:inherit">{{a.District}}</td>
                <td style="vertical-align:inherit">{{a.Taluk}}</td>

                <td style="cursor:pointer">
                    <p>Edit</p>
                </td>
                <!-- <td style="vertical-align:inherit"><button style="background-color: #000000;color:#ffffff"
                        class="btn btn-block">Edit</button></td> -->
            </tr>


        </tbody>
    </table>

</div>