/* .mt-20{
    margin-top:20px;
} */

th{
    background-color: transparent !important;
}

td{
    background-color: transparent !important; 
}

tr{
    background-color: transparent !important;
}

.table tbody + tbody {
    border-top: none !important
}
td{
    /* border:1px solid black; */
    border-top: none;
    /* border-bottom: none; */
}
/* table{
    border-top: 1px solid;
} */