<div class="form-group row">
    <div class="col-md-10">
        <div class="input-group">
            <h1>Add Taluk </h1>

        </div>
    </div>

</div>
<hr style="margin-left: -30px;margin-right: -30px;">

<div class="row">
    <div class="col-md-12">


        <!-- <form class="form-horizontal" [formGroup]="userEdit"> -->

        <div class="form-group row" style="margin-top:20px;">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-1 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-1 col-form-label" for="text-input">State
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">
                        <b>Select State</b></option>
                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chhattisgarh</option>
                    <option>Goa</option>
                    <option>Gujarat</option>
                    <option>Haryana</option>
                    <option>Himachal Pradesh </option>
                    <option>Jharkhand </option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>TamilNadu</option>
                </select> </div>
        </div>


        <div class="form-group row" style="margin-top:20px;">
            <label class="col-md-2 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-1 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>
            <label class="col-md-1 col-form-label" for="text-input">District
                <!-- <span style="color: red">*</span> -->
            </label>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="">
                        <b>Select District</b></option>
                    <option>Ariyalur</option>
                    <option>Chennai</option>
                    <option>Coimbatore</option>
                    <option>Cuddalore</option>
                    <option>Perambalur</option>
                    <option>Pudukkottai</option>
                    <option>Thanjavur</option>
                    <option>Tiruchirappalli</option>
                    <option>Tiruvarur </option>
                    <option>Dharmapuri </option>
                    <option>Erode</option>
                    <option>Salem</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
                <label class="col-md-2 col-form-label" for="text-input">
                    <!-- <span style="color: red">*</span> -->
                </label>
                <label class="col-md-1 col-form-label" for="text-input">
                        <!-- <span style="color: red">*</span> -->
                    </label>
                <label class="col-md-1 col-form-label" for="text-input">Taluk
                    <!-- <span style="color: red">*</span> -->
                </label>
                <div class="col-md-4">
                    <input class="form-control" class="form-control" maxlength="30" required autocomplete="off">
                </div>
            </div>

        <br>
        <div class="form-group row">
            <label class="col-md-5 col-form-label" for="text-input">
                <!-- <span style="color: red">*</span> -->
            </label>

            <div class="col-md-2">
                <button type="submit" class="blue-button">
                    Add
                </button> </div>
        </div>


        <!-- </form> -->
    </div>
</div>