<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mx-auto">  
                <div class="card-body" style="margin-top: 100px">  
                  <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)">
                    <div class="logo-name text-lg text-center mb-30">
                        <img src="assets/img/images/indian.jpg" style="width:250px;" class=" img-responsive center" alt="gfd">
                        <p class="pipeline">Pipelines Division</p>
                      </div>
                    <label><b>RESET PASSWORD</b></label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      </div>
                      <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password" autocomplete="username" required  (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()">
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                      </div>
                      <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Confirm Password" autocomplete="current-password" required (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()">
                    </div>
                    <!-- <div class="checkbox">
  
                        <label class="pull-right">
                            <a routerLink="/forgotpassword">Forgot Password?</a>
                        </label>
                    </div> -->
                    <button type="submit" [disabled]="!resetForm.valid" class="btn btn-danger btn-block">RESET PASSWORD</button>
                  </form>
                </div>
                <p class="text-center m-t-xs text-sm">2020 &copy;  IOCL Pipelines Division.</p>
          </div>
        </div>
      </div>
    </main>
  </div>
  
