<div class="form-group row">
    <div class="col-md-4">
        <div class="input-group">
            <h1>CA Offices List</h1>

        </div>
    </div>

    <div class="input-group col-md-5 mt-40">
        <input [(ngModel)]="searchtext" name="search"  id="search" type="text" class="form-control" placeholder="Search">
        <span class="input-group-append">
            <button (click)="list(searchtext)" type="button" style="background: #363b4a;height:35px;" (click)="search()"
                class="btn btn-block btn-ghost-danger active">Search</button>
        </span>
    </div>


    <div class="col-md-2 mt-40">
        <button type="button" style="margin-left:93px;" routerLink="/add-manage-ca-offices"
            class="blue-button">Add</button>

    </div>
</div>
<hr>
<div class="table table-responsive">
    <table id="example" class="display table" style="width: 100%;">
        <thead>
            <tr style="background-color: transparent;">
                <th>
                    CA Name
                </th>
                <th>
                    Location/Region
                </th>
                <!-- <th>
                    Project Name
                </th> -->
                <th>
                    Bank Details
                </th>
                <!-- <th>
                        Email Id
                    </th> -->
                <th>
                    Address
                </th>
                <th>
                    Vendor Code
                </th>
                <th>
                    PAN
                </th>
                <th>
                    Contact Number
                </th>

                <!-- <th>
                    Status
                </th> -->
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of caList" routerLink="/edit-manage-ca-offices/{{x.caOfficerId}}">
                <td>{{x?.caName}}</td>

                <td>{{x?.location}},{{x?.regionName}}</td>
                <!-- <td>{{x?.projectname}}</td> -->
                <td>{{x?.bank}}</td>
                <!-- <td>{{x?.email}}</td> -->
                <td>{{x?.address}}</td>
                <td>{{x?.vendorCode}}</td>
                <td>{{x?.panNumber}}</td>
                <td>{{x?.contactNumber}}</td>

                <!-- <td>{{x?.Status}}</td> -->
                <td style="cursor:pointer">
                    <p>Edit</p>
                </td>

            </tr>
        </tbody>
    </table>
    <!-- <pagination-controls (pageChange)="p = $event" class="my-pagination" style="text-align: right">
        </pagination-controls>  -->
    <p-paginator [rows]="10" [totalRecords]="totalCount" (onPageChange)="paginate($event)"></p-paginator>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-beat"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>