<div class="animated fadeIn">
  <div class="col-md-4">
    <div class="input-group">
      <h1>Dashboard</h1>

    </div>
  </div>
  <hr>
  <br>
  <div class="row" style="display: flow-root">
    
    <div class="col-md-2" style="float: right">
      <select class="form-control">
        <option value="">Select Project</option>
        <option value="1">Paradip-Haldia</option>
        <option value="2">Chennai-Thiruvallur</option>

      </select>
    </div>
    <div class="col-md-2" style="float: right">
      <select class="form-control">
        <option value="">Select Region</option>
        <option value="1">SRPL</option>
        <!-- <option value="2">NRPL</option>
        <option value="3">WRPL</option>
        <option value="4">ERPL</option>
        <option value="5">SERPL</option> -->
      </select>
    </div>
    <!-- <div class="row" style="display: flow-root">
    </div> -->
  </div>

 
  <br>
  <div class="row">
    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL APPROVED AWARDS
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <!-- <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">100</span> -->

          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              70</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              30</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL PENDING AWARDS
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <!-- <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">200</span> -->

          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              250</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              150</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL FUND RELEASED
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <!-- <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">50000000</span> -->

          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              {{30000000 | currency: 'INR':'symbol':'1.0-0'}}</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              {{20000000 | currency: 'INR':'symbol':'1.0-0'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: -25px;">
    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL DISBURSED AMOUNT
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">{{30000000 | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <!-- <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              100</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              100</p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL UNDISBURSED AMOUNT
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">{{20000000 | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <!-- <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              100</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              100</p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;cursor: pointer;" routerLink='/undisbursed-beneficiary-list'>
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">UNDISBURSED BENEFICIARY
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">50</span>

          </div>
          <!-- <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              100</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              100</p>
          </div> -->
        </div>
      </div>
    </div>


  </div>



  <div class="row" style="margin-top: -25px;">
    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL PENDING VILLAGE
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <!-- <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">50</span> -->

          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              350</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              160</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4"
      style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card">
        <div class="card-body pb-0" style="padding: 0.70em;">
          <div class="col-md-12" style="padding:0px;">
            <p style="text-align: left;margin: auto;">
              <span class="info-box-title fs" style="font-weight: bold;font-size: 12px">TOTAL AWARDED VILLAGE
              </span>
              <!-- <i class="fa fa-qrcode dashboard-icons"></i> -->

            </p>
            <!-- <span class="counter" style="float: right;font-size: 20px;margin-top: 12px;">100</span> -->

          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 10px;font-weight: bold">
              LAND</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;    margin-top: 3px;">
              180</p>
          </div>
          <div class="col-md-12" style="display:flex; padding:0px;">
            <p class="col-md-6 col-xs-6"
              style="text-align:left; padding:0px; font-size:12px; margin-bottom:7px;    margin-top: 5px;font-weight: bold">
              CROP</p>
            <p class="col-md-6 col-xs-6"
              style="text-align:right; padding:0px; font-size:20px; margin-bottom:7px;margin-top: 0px;">
              160</p>
          </div>
        </div>
      </div>
    </div>


  </div>


  <!-- <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/payment">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">YOUR WALLET</span>
              <i class="icon-wallet dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.yourWallet | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>



    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/payment">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">VIRTUAL BALANCE</span>
              <i class="icon-wallet dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.virtualBalance | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/payment">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">CLEAR BALANCE</span>
              <i class="icon-wallet dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.clearBalance | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row">






    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/redemptions">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">BANK TRANSFER</span>
              <i class="fa fa-bank dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.bankAmount | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>



    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/redemptions">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">MOBILE RECHARGE</span>
              <i class="fa fa-mobile-phone  dashboard-icons" style="font-size: 35px"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.rechargeAmount | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/redemptions">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">DTH RECHARGE</span>
              <img src="assets/img/images/antenna.png" style="height: 35px;float: right;" />

            </p>
            <span class="counter"
                style="float: right;font-size: 20px">{{dashboarddata?.dthAmount | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>




  </div>
  <div class="row">


    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/redemptions">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">PAYTM</span>
              <img src="assets/img/images/paytm.png" style="height: 35px;float: right;" />

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.paytmAmount | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/blocked-amount">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">CONSUMER PAYMENT PENDING</span>
              <i class="fa fa-ban dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.consumerPaymentPending | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/expired-coupons">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">EXPIRED COUPONS</span>
              <i class="fa fa-close dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.expiredCoupons | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/consumer-referral-report">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">TOTAL CONSUMER THROUGH REFERRAL</span>
              <i class="icon-people dashboard-icons"></i>
            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.totalConsumersthroughreferral}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/amount-awarded-through-referral">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">AWARDED THROUGH REFERRAL</span>
              <i class="fa fa-money dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.amountAwardedThroughReferral | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="cursor: pointer;" routerLink="/referral-points-redemption-report">
        <div class="card-body pb-0" style="padding: 0.70em;height: 80px;">
          <div class="info-box-stats">
            <p style="text-align: left;">
              <span class="info-box-title fs" style="font-weight: bold;">REDEEMED THROUGH REFERRAL</span>
              <i class="fa fa-money dashboard-icons"></i>

            </p>
            <span class="counter"
              style="float: right;font-size: 20px">{{dashboarddata?.redemptionAmountForReferral | currency: 'INR':'symbol':'1.0-0'}}</span>

          </div>
          <div class="info-box-icon">
          </div>
        </div>

      </div>
    </div>

  </div>  -->


  <!-- <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header" style="height: 40px;">
        <b>COMPENSATION DISBURSEMENT TREND</b>
        <div class="card-header-actions">
          <select class="form-control" style="margin-top: -8px;
          height: 32px;
          width: 118px;" (change)="barChangeEvent($event)"> -->
  <!-- <option *ngFor="let x of years" value="{{x.year}}">{{x.year}}
            </option> -->
  <!-- <option>Select Year</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
          </select>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
        </div>
      </div>
    </div> -->

  <!-- <div class="card">
      <div class="card-header" style="height: 40px">
        <b>FUND RELEASE TREND(CA)</b>
        <div class="card-header-actions">
          <select class="form-control" style="margin-top: -8px;
          height: 32px;
          width: 110px;" (change)="lineChangeEvent($event)"> -->
  <!-- <option *ngFor="let x of years" value="{{x.year}}">{{x.year}}
            </option> -->
  <!-- <option>Select CA</option>
            <option>Chennai CA</option>
            <option>Bangalore CA</option>
            <option>Chittor CA</option>
            
          </select>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
      </div>
    </div> -->

  <!-- <div class="card">
      <div class="card-header" style="height: 40px">
        <b>FUND RELEASE TREND</b>
        <div class="card-header-actions">
          <select class="form-control" style="margin-top: -8px;
          height: 32px;
          width: 118px;" (change)="lineChartChangeEvent($event)"> -->
  <!-- <option *ngFor="let x of years" value="{{x.year}}">{{x.year}}
            </option> -->
  <!-- <option>Select Year</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>

          </select>
        </div>
      </div> -->

  <!-- <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
            [options]="lineChart1Options" [legend]="lineChart1Legend" [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div>

    <div class="card" style="margin-right: -5px;">
      <div class="card-header" style="height: 40px">
        <b>COMPENSATION DISBURSEMENT TREND(CA)</b>
        <div class="card-header-actions">
          <select class="form-control" style="margin-top: -8px;
          height: 32px;
          width: 110px;" (change)="bar1ChangeEvent($event)"> -->
  <!-- <option *ngFor="let x of years" value="{{x.year}}">{{x.year}}
            </option> -->
  <!-- <option>Select CA</option>
            <option>Chennai CA</option>
            <option>Bangalore CA</option>
            <option>Chittor CA</option>
          </select>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [legend]="barChart1Legend" [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row">
<div class="col-md-12">
    <div class="card" style="margin-left: 100px;margin-right:100px">
      <div class="card-header" style="height: 45px;">
        <b>COMPENSATION DISBURSEMENT BY DISTRICT</b>
        <div class="card-header-actions">
          <select  class="form-control" style="height: 32px;
          margin-top: -6px;width: 122px;"  (change)="barChangeEvent($event)"> -->
  <!-- <option *ngFor="let x of years" value="{{x.year}}">{{x.year}}
            </option> -->
  <!-- <option value="">Select State</option>
          <option value="0">Tamilnadu</option>
          <option value="1">Karnataka</option>
          <option value="2">Andhara Pradesh</option>
          <option value="3">Telangana</option>
          <option value="4">Maharastra</option>

          </select>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="barChart2Data" [labels]="barChart2Labels"
            [options]="barChart2Options" [colors]="barChart2Colors" [legend]="barChart2Legend"
            [chartType]="barChart2Type"></canvas>
        </div>
      </div>
    </div>
</div>
  </div> -->




</div>


<!-- <tr>
            <td><b>Amutha</b> has scanned a coupon <b>(ABC12345)</b> on <b>2/Dec/2019</b></td>
          </tr>
          <tr>
            <td><b>Sundep Daga</b> has initiated <b>bank transfer</b> of Rs.1000 from chennai on <b>2/Dec/2019</b></td>
          </tr>
          <tr>
            <td><b>Joythishree</b> has initiated <b>paytm transfer</b> of Rs.1000 from chennai on <b>2/Dec/2019</b></td>
          </tr>
          <tr>
            <td><b>Amutha</b> has initiated <b>bank transfer</b> of Rs.1000 from chennai on <b>2/Dec/2019</b></td>
          </tr>
          <tr>
            <td><b>Sundeep</b> has initiated <b>paytm transfer</b> of Rs.1000 from chennai on <b>2/Dec/2019</b></td>
          </tr>
          <tr>
            <td><b>Sundep Daga</b> has scanned a coupon <b>(ABC12345)</b> on <b>1/Dec/2019</b></td>
          </tr>
          <tr>
            <td style="text-align: right"><a href="/consumer-activity-report">MORE</a></td>
          </tr> -->