
<div class="form-group row">
    <div class="col-md-10">
        <div class="input-group">
                <h1>Edit Location List </h1>
            
        </div>
    </div>
   
</div>
<hr>
<div class="row">
        
    <div  class="col-md-2"></div>
    <div class="col-md-7">
                <!-- <form class="form-horizontal" [formGroup]="userEdit"> -->
  
                    <div class="form-group row" style="margin-top:20px;">
                        <label class="col-md-2 col-form-label" style="margin-left: 50px;" for="text-input">State
                            <!-- <span style="color: red">*</span> -->
                        </label>
                        <div class="col-md-9">
                            
                    
                      
                        <select class="form-control">
                            <option value="">
                              <b>Select State</b></option>
                            <option >Andhra Pradesh</option>
                            <option >Arunachal Pradesh</option>
                            <option >Assam</option>
                            <option >Bihar</option>
                            <option >Chhattisgarh</option>
                            <option >Goa</option>
                            <option >Gujarat</option>
                            <option >Haryana</option>
                            <option >Himachal Pradesh </option>
                            <option >Jharkhand </option>
                            <option >Karnataka</option>
                            <option >Kerala</option>
                          </select>
               
            
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-md-2 col-form-label" style="margin-left: 50px;" for="text-input">District
                                <!-- <span style="color: red">*</span> -->
                            </label>
                            <div class="col-md-9">
                            
                    
                      
                                <select class="form-control">
                                    <option value="">
                                      <b>Select District</b></option>
                                    <option >Ariyalur</option>
                                    <option >Chennai</option>
                                    <option >Coimbatore</option>
                                    <option >Cuddalore</option>
                                    <option >Perambalur</option>
                                    <option >Pudukkottai</option>
                                    <option >Thanjavur</option>
                                    <option >Tiruchirappalli</option>
                                    <option >Tiruvarur </option>
                                    <option >Dharmapuri </option>
                                    <option >Erode</option>
                                    <option >Salem</option>
                                  </select>
                       
                    
                                </div>
                        </div>
                     
                        <div class="form-group row" >
                                <label class="col-md-2 col-form-label" style="margin-left: 50px;" for="text-input">Taluk
                                    <!-- <span style="color: red">*</span> -->
                                </label>
                                <div class="col-md-9">
                            
                    
                      
                                    <select class="form-control">
                                        <option value="">
                                            <b>Select Taluk</b></option>
                                          <option >Rajapalayam</option>
                                          <option >Chennai</option>
                                          <option >Srivilliputhur</option>
                                          <option >Velacherry</option>
                                          <option >Perumbakkam</option>
                                          <option >Sholinganallor</option>
                                          <option >Karapakkam</option>
                                          <option >Thuraipakkam</option>
                                          <option >Adayar </option>
                                          <option >Sankarankovil </option>
                                          <option >Erode</option>
                                          <option >Salem</option>
                                      </select>
                        
                                    </div>
                            </div>
                            <div class="form-group row" >
                                    <label class="col-md-2 col-form-label" style="margin-left: 50px;" for="text-input">Village
                                        <!-- <span style="color: red">*</span> -->
                                    </label>
                                    <div class="col-md-9">
                            
                    
                      
                                        <select class="form-control">
                                            <option value="">
                                                <b>Select Village</b></option>
                                              <option >Rajapalayam</option>
                                              <option >Chennai</option>
                                              <option >Srivilliputhur</option>
                                              <option >Velacherry</option>
                                              <option >Perumbakkam</option>
                                              <option >Sholinganallor</option>
                                              <option >Karapakkam</option>
                                              <option >Thuraipakkam</option>
                                              <option >Adayar </option>
                                              <option >Sankarankovil </option>
                                              <option >Erode</option>
                                              <option >Salem</option>
                                          </select>
                               
                            
                                        </div>
                            </div>
                            
                        </div>
                        <div class="col-md-2"></div>
  
                    
                                        
<div class="col-md-2"></div>
<div class="col-md-7">
        <button type="submit"
        style="margin-left:220px;background:#000000;margin-top:20px;width:50% "class="btn btn-success btn-rounded">
         Update Location
    </button>
</div>
                                        
<div class="col-md-2"></div>
</div>
                            
               
               
<!-- </form> -->
        
   