// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.ui-multiselect {
    width: 100% !important;
    border:1px solid #e4e7ea !important
}
.ui-dropdown{
    width:100% !important;
    border:1px solid #e4e7ea !important;
}