<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <!-- <div class="panel-body"> -->
            <div class="panel-body" style="margin-top:20px;margin-top: 22px;padding-top: 0px;padding-top:0">
                <div class="panel-heading text-center">
                    <p class="subtitle fancy" style="font-size: 18px"><span>Profile Details</span></p>
                </div>

                <br>
                <form style="text-align: center">


                    <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">Name</label>
                        <div class="col-md-4">
                            <label class="control-label" style="font-weight:bold;">{{adduserDtls.userName}}</label>
                        </div>

                    </div>
                    <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">Email</label>
                        <div class="col-md-4">
                            <label class="control-label" style="font-weight:bold;">
                                    {{adduserDtls.email}}</label>
                        </div>

                    </div>
                    <!-- <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">Company</label>
                        <div class="col-md-4">
                            <label class="control-label" style="font-weight:bold;">{{profilecompany}}</label>
                        </div>

                    </div> -->
                    <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">Phone</label>
                        <div class="col-md-4">
                            <label class="control-label" style="font-weight:bold;">{{adduserDtls.contactNumber}}</label>
                        </div>

                    </div>
                    
                </form>
            </div>
            <!-- </div> -->
        </div>
        <hr style="margin-left: 8%;margin-right: 8%">
        <div class="card-heading text-center">
            <p class="subtitle fancy" style="font-size: 18px"><span>Change Password</span></p>
        </div>


        <div class="card-body">
            <div class="card-body" style="margin-top:20px;margin-top: 22px;padding-top: 0px;padding-top:0">

                <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="Changepassword(profileForm.value)">

                    <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">Old Password</label>
                        <div class="col-md-4">
                            <input type="Password" formControlName="oldPassword" class="form-control" required>
                            <div style="color:Red" *ngIf="profileForm.controls['oldPassword'].invalid && (profileForm.controls['oldPassword'].dirty || profileForm.controls['oldPassword'].touched)">
                                    <div style="color:Red" *ngIf="profileForm.controls['oldPassword'].errors.required">
                                        Old Password is required.
                                      </div>
                                      </div>
                        </div>

                    </div>
                    <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">New Password</label>
                        <div class="col-md-4">
                            <input minlength="8"pattern="^((?=.*\d)(?=.*[A-Z])(?=.*\W).{6,})*$" type="Password" formControlName="password" class="form-control" required>
                            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                                <div *ngIf="f.password.errors.required"style="color:red;font-size:13px;">Password is required and Minimimum length Eight</div>
                                <div *ngIf="f.password.errors.pattern"style="color:red;font-size:13px;">
                                  Must contain at least 1 Capital Letter,1 Small Letter,1 Special Character,1 Number!</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-left: 15%">
                        <label class="col-md-3 col-form-label" for="text-input">Confirm Password</label>
                        <div class="col-md-4">
                            <input type="Password" minlength="8"pattern="^((?=.*\d)(?=.*[A-Z])(?=.*\W).{6,})*$"  formControlName="confpassword" class="form-control" required>
                            <div *ngIf="f.confpassword.invalid && (f.confpassword.dirty || f.confpassword.touched)">
                                <div *ngIf="f.confpassword.errors.required"style="color:red;font-size:13px;">Confirm Password is required</div>
                                <div *ngIf="f.confpassword.errors.mismatchedPasswords"style="color:red;font-size:13px;">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                    <button style="margin-left: 38%;" [disabled]="profileForm.invalid" class="btn btn-danger btn-rounded">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Change Password</button>

                </form>
            </div>
        </div>
    </div>
</div>
<p-toast life="10000" position="center"></p-toast>